.header__contacts {
  margin: 0;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-align: right;
  color: #fff;
  padding-right: 100px;
}